<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.NetWrapper.Unofficial" version="1.7.5.0" targetFramework="net46" />
  <package id="Awesomium.NetWrapper.Unofficial.fix" version="1.7.5.01" targetFramework="net46" />
  <package id="cef.redist.x64" version="96.0.18" targetFramework="net472" />
  <package id="cef.redist.x86" version="96.0.18" targetFramework="net472" />
  <package id="CefSharp.Common" version="96.0.180" targetFramework="net472" />
  <package id="CefSharp.OffScreen" version="96.0.180" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="96.0.180" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="96.0.180" targetFramework="net472" />
</packages>