<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.NetWrapper.Unofficial" version="1.7.5.0" targetFramework="net46" />
  <package id="Awesomium.NetWrapper.Unofficial.fix" version="1.7.5.01" targetFramework="net46" />
  <package id="cef.redist.x64" version="79.1.36" targetFramework="net46" />
  <package id="cef.redist.x86" version="79.1.36" targetFramework="net46" />
  <package id="CefSharp.Common" version="79.1.360" targetFramework="net46" />
  <package id="CefSharp.OffScreen" version="79.1.360" targetFramework="net46" />
  <package id="CefSharp.WinForms" version="86.0.241" targetFramework="net46" />
  <package id="CefSharp.Wpf" version="79.1.360" targetFramework="net46" />
</packages>